/*.md
!README.md
!CONTRIBUTING.md

.claude/
*.fxsnapshot

Cargo.lock
!/Cargo.lock
**/target
**/distribution/app/

reference/character.json

/distribution/calendar/app/
/distribution/calendar/init.js
/distribution/calendar/worker.js
/distribution/calendar/css/library/
