/*.md
!README.md
!CONTRIBUTING.md

.claude/
*.fxsnapshot

Cargo.lock
!/Cargo.lock
**/target
**/distribution/app/

reference/character.json

/examples/calendar/app/
/examples/calendar/init.js
/examples/calendar/worker.js
/examples/calendar/css/library/
