@font-face {
    font-family: "IBM Plex Sans";
    src: url("../font/IBMPlexSans-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "IBM Plex Sans";
    src: url("../font/IBMPlexSans-SemiBold.woff2") format("woff2");
    font-weight: 600 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family-sans-serif: "IBM Plex Sans", "Noto Sans JP", "BIZ UDPGothic", "Hiragino Sans", sans-serif;
    --font-family-monospace: "Fira Code", "BIZ UDGothic", monospace;
    
    --rgb-theme-purple: 91 47 145;
    --color-emphasis-ink:   rgb(var(--rgb-theme-purple));
    --color-emphasis-paper: color-mix(in srgb, rgb(var(--rgb-theme-purple)) 73%, rgb(255,255,255));
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-emphasis-ink:   color-mix(in srgb, rgb(var(--rgb-theme-purple)) 38%, rgb(255,255,255));
        --color-emphasis-paper: color-mix(in srgb, rgb(var(--rgb-theme-purple)) 74%, rgb(255,255,255));
    }
}
@media (forced-colors: none) {
    :root[data-color-scheme="light"],
    :root[data-color-scheme="light-high-contrast"],
    :root[data-color-scheme="light-less-contrast"] {
        --color-emphasis-ink:   rgb(var(--rgb-theme-purple));
        --color-emphasis-paper: color-mix(in srgb, rgb(var(--rgb-theme-purple)) 73%, rgb(255,255,255));
    }
    :root[data-color-scheme="dark"],
    :root[data-color-scheme="dark-high-contrast"],
    :root[data-color-scheme="dark-less-contrast"] {
        --color-emphasis-ink:   color-mix(in srgb, rgb(var(--rgb-theme-purple)) 38%, rgb(255,255,255));
        --color-emphasis-paper: color-mix(in srgb, rgb(var(--rgb-theme-purple)) 74%, rgb(255,255,255));
    }
}

html {
    overflow-x: hidden;
}

body {
    max-width: 100%;
    min-height: 100dvh;
    overflow-x: hidden;
    padding: 0.25rem;
}

body>header, section, h2, h3 {
    margin-block-start: 1rem;
}

body>header, 
body>section, 
main, 
aside, 
body>footer {
    max-width: 60rem;
    margin-inline: auto;
}

dialog>* {
    max-width: 100%;
    padding: 0;
}

dialog table {
    width: 100%;
    table-layout: fixed;
}

/* === CoC7th === */

#header_button-1 {
    anchor-name: --header_button-1;
}

#header_ul-1 {
    position-anchor: --header_button-1;
}

#header_button-2 {
    anchor-name: --header_button-2;
}

#header_ul-2 {
    position-anchor: --header_button-2;
}

#header_button-5 {
    --color-emphasis-ink: rgb(var(--rgb-accent-green));
}

main>section {
    border: 1px solid rgb(var(--rgb-light-gray));
    margin: 0.25rem 0 0;
}

:is(#main_section-1_section-2, #main_section-1_section-3, #main_section-1_section-4, #main_section-1_section-5) {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

:is(#main_section-1_section-2, #main_section-1_section-3, #main_section-1_section-4, #main_section-1_section-5)>span {
    display: inline-flex;
    align-items: baseline;
    gap: 0.375rem;
}

#main_section-1_section-6>article {
    --color-layer-1: var(--color-paper);
    --color-layer-2: color-mix(in srgb, var(--color-paper) 95%, var(--color-ink));
    --color-layer-3: color-mix(in srgb, var(--color-paper) 90%, var(--color-ink));
    --line-height-1: 0.2rem;
    --line-height-2: 0.1rem;
    --line-height-3: 0rem;
    padding-top: 0.3rem;
    background-color: var(--color-layer-1);
}

#main_section-1_section-6>article>span:not(:first-child) {
    display: inline-block;
    background-color: var(--color-layer-2);
    padding-top: 0.3rem;
    vertical-align: bottom;
}

#main_section-1_section-6>article>span>span:last-child {
    display: inline-block;
    background-color: var(--color-layer-3);
    padding-top: 0;
    vertical-align: bottom;
}

#main_section-2 fieldset {
    border: none;
}

#main_section-2_fieldset-2,
#main_section-2_fieldset-4 {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 0.5rem;
}

#main_section-2_fieldset-2_label-2,
#main_section-2_fieldset-2_label-6 {
    color: transparent;
}

#main_section-2_fieldset-2_label-2 input,
#main_section-2_fieldset-2_label-6 input {
    color: revert;
}

#main_section-2_fieldset-2 input {
    width: 17rem;
}

#main_section-2_fieldset-3 table {
    margin-top: 0.5rem;
}

@media (width >=40rem) {
    #main_section-2_fieldset-3_table-1,
    #main_section-2_fieldset-3_table-2 {
        display: inline-table;
        width: max-content;
    }
}

#main_section-2_fieldset-3 th,
#main_section-2_fieldset-3 td {
    width: 4rem;
}

#main_section-2_fieldset-5 table {
    width: 100%;
    table-layout: fixed;
}

#main_section-2_fieldset-3 th,
#main_section-2_fieldset-5 th,
#main_section-2_fieldset-5 td:nth-child(2),
#main_section-2_fieldset-5 td:nth-child(4),
#main_section-2_fieldset-5 td:nth-child(5),
#main_section-2_fieldset-5 td:nth-child(6) {
    text-align: center;
}

#main_section-2_fieldset-3 td:nth-child(2),
#main_section-2_fieldset-3 td:nth-child(3),
#main_section-2_fieldset-3 td:nth-child(4),
#main_section-2_fieldset-3 td:nth-child(5),
#main_section-2_fieldset-5 td:nth-child(3),
#main_section-2_fieldset-5 td:nth-child(7) {
    text-align: right;
}

#main_section-2_fieldset-3 input,
#main_section-2_fieldset-5 input {
    width: 100%;
}

#main_section-2_fieldset-5 th:nth-child(3),
#main_section-2_fieldset-5 th:nth-child(7),
#main_section-2_fieldset-5 td:nth-child(3),
#main_section-2_fieldset-5 td:nth-child(7) {
    width: 2.5rem;
}

@media (width >=40rem) {
    #main_section-2_fieldset-5 th:nth-child(3),
    #main_section-2_fieldset-5 th:nth-child(7),
    #main_section-2_fieldset-5 td:nth-child(3),
    #main_section-2_fieldset-5 td:nth-child(7) {
        width: 4rem;
    }
}

#main_section-2_fieldset-5 th:nth-child(4),
#main_section-2_fieldset-5 th:nth-child(5),
#main_section-2_fieldset-5 th:nth-child(6),
#main_section-2_fieldset-5 td:nth-child(4),
#main_section-2_fieldset-5 td:nth-child(5),
#main_section-2_fieldset-5 td:nth-child(6) {
    width: 3rem;
}

#main_section-2_fieldset-5 input[inputmode="numeric"] {
    padding: 0.5rem;
}

#main_section-2_fieldset-5 td {
    anchor-scope: --main_section-2_fieldset-5_td;
}

#main_section-2_fieldset-5 td>label {
    display: flex;
    width: 100%;
}

#main_section-2_fieldset-5 td>label>input {
    anchor-name: --main_section-2_fieldset-5_td;
    flex: 1;
    min-width: 0;
}

#main_section-2_fieldset-5 td>[popover] {
    position-anchor: --main_section-2_fieldset-5_td;
}

#main_section-4 {
    display: flex;
    align-items: flex-end;
    gap: 0.2rem;
}

#main_modal {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 0;
    height: 0;
}